<!DOCTYPE html>
<html lang="fr" ng-app>
    <head>
        <meta charset="utf-8" />
        <title>Réalisations artistiques personnelles</title>
        <link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
    </head>
 
    <body ng-controller="IllustrationCtrl">
           <header>
			   <h1>Réalisations artistiques personnelles</h1>
            </header>
            <!-- http://paddyweblog.blogspot.fr/2013/04/navigation-in-angularjs.html-->
            <nav>
                    <ul id="tabnav">
                        <li class="active"><a href="#" ng-model="projet">Accueil</a></li>
                        <li><a href="#Phare" ng-model="projet">Réalisation d'un Phare</a></li>
                        <li><a href="#sujets" ng-model="projet">Sujets de dessins</a></li>
                    </ul>
                    <h1>{{ projet }}</h1>
            </nav>
            <article>
				<section name="PhareBD">
					<h2><a href="PhareBD.html">Réalisation d'un Phare</a></h2>
				</section>
				<section name="CommentaireDessin">
					<h2><a href="CommentaireDessin.html">Commentaires d'un dessin en couleur</a></h2>
				</section>
			</article>
               
             
            <footer>
            </footer>
    </body>
</html>

